# Managed by Ansible airgap_apt. Manual changes will be replaced.
# {{ airgap_apt_release.codename }} / amd64 / internal mirrors only
{% for repo in airgap_apt_effective_repositories %}
# {{ repo.name }}
{% for suite in repo.suites %}
deb [arch=amd64 signed-by=/etc/apt/keyrings/{{ repo.key }} allow-insecure=no allow-weak=no allow-downgrade-to-insecure=no check-valid-until=yes check-date=yes] {{ airgap_apt_base_url }}/{{ repo.path }} {{ suite }} {{ repo.components | join(' ') }}
{% endfor %}
{% endfor %}
